.formContainerScale{
    display: flex;
    
}
.graph{
    max-width:400px;
    max-height:400px;
}
.container{
    display: flex;
    align-items: center;
}
.hidden{
    display: none;
}
.chooseFromListForm{
    font-size: 18px;
    display: flex;
    justify-content: center;
    
}
.columnForm1{
    border: 1px solid black;
}
.columnForm2{
    border: 1px solid black;
}
.columnForm3{
    border: 1px solid black;
}
.columnTitle{
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid;
    margin: 0px;
}
.columnLabel{
    margin: 0px;
    border: 1px solid;
    padding: 5px;
}
.header{
    width: 100vw;
    margin: 0px;
}